.vhFull {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutText {
  margin-top: 2.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--textColor);
}

.imgLogin {
width: 45.625rem;
height: 33.125rem;
}



.fields {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom:1rem;
  width: 100%;
}

.title {
  margin: 2rem 0;
}

.login {
  min-width: 26.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px solid var(--primary);
  border-radius: 10px;
}

.inputText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin: 3rem 0;
}

.footerLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btnPrimary {
  border: none;
  padding: 10px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
}

@media (max-width:1368px) {
  .login {
    min-width: 20.875rem;
  }
}
  
  
  @media (max-width:680px) {

    .imgLogo {
      width:300px;
      height:125px;
    }  

  .container {
    flex-direction: column;
  }

}